/*nav arriba*/
header{
    .nav-estilo{
        @extend %col-tam;
        font-family: 'Open Sans', sans-serif;
        .navbar-brand{
            justify-content: center;
        }
    }
}

/* barra pie*/

.barra-pie{
    @extend %col-tam;
    font-family: 'Open Sans', sans-serif;
}
