
*{
margin: 0;
padding:0;
box-sizing: border-box;
}

@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";
@import "header";
@import "main";
@import "productos";
@import "nos";
@import "footer";
@import "mediaqueries"





